@using System.Security.Claims
@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>
	@if (User.Identity.IsAuthenticated)
	{
		<li><a asp-controller="Account" asp-action="UserProfile">Hello @User.Identity.Name!</a></li>
		<li><a asp-controller="Account" asp-action="UserProfile">Hello @User.FindFirst(ClaimTypes.Name)?.Value!</a></li>
		<li><a asp-controller="Account" asp-action="UserProfile">Hello @User.FindFirst(ClaimTypes.NameIdentifier)?.Value!</a></li>
		<li><a asp-controller="Account" asp-action="UserProfile">Hello @User.FindFirst(ClaimTypes.Email)?.Value!</a></li>
		<li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
	}
	else
	{
		<li><a asp-controller="Account" asp-action="Login">Login</a></li>
	}
</p>
<p>Use this page to detail your site's privacy policy.</p>
